@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: thistle;
  flex-direction: column;
}

.header {
  font-family: 'Comfortaa', sans-serif;
  color: darkorchid;
  margin-bottom: 4px;
}

.copy {
  font-family: 'Comfortaa', sans-serif;
  margin-top: 4px;
  padding-bottom: 12px;
}

.button-container {
  border: 2px solid mediumorchid;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, orchid, mediumorchid);
  border: 2px solid mediumorchid;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(188, 75, 201, 0.3);
}

button:hover {
  background: linear-gradient(to bottom, orchid, mediumorchid);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(106, 12, 108, 0.3);
}
